/* Mengatur tampilan utama (main) agar konten berada di tengah */
main {
  text-align: center;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  flex-basis: auto;
}

/* Mengatur semua elemen agar ukuran termasuk padding dan border */
* {
  box-sizing: border-box;
}

/* Mengatur font utama halaman */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Membuat 4 kolom sejajar (float) */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 30px;
}

/* Menghilangkan margin kiri/kanan berlebih karena padding */
.row {margin: 0 -5px;}

/* Membersihkan float setelah baris kolom */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Tampilan responsive untuk layar kecil (HP) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;         /* Kolom menjadi satu baris penuh */
    display: flex;
    margin-bottom: 20px;
  }
}

/* Gaya untuk kartu (card) foto */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  /* Efek bayangan */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  
}